.col-md-4 {
    margin-top: 20%;
}
.card {
    border-width: 6px;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
}

.form-control:focus {
        border-color: gray;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(108, 122, 137, 0.5);
    }